{% load static %}
body{
background-image:url("bg.jpg");
background-size: cover;
}
.box{
background-color: white;
margin:auto;
justify-content:center;
align-items: center;
text-align:center;
border:1px solid black;
width: 500px;
margin-top: 200px;
padding:50px;
}
form{
padding:10px;
}
input{
margin:20px;
}